<!doctype html>

<html>
<head>
  <title>Business Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <br><br>
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/" id="home-link">Home</a></li>
          <li role="presentation"><a href="/businesses" id="businesses-link">View Businesses</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">Business Dashboard</h3>
      <hr>
    </div>

    {{{ body }}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    {{{_sections.jquery}}}
  </div>
</body>
</html>
